<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SerpApiKey</key>
    <string>YOUR_SERPAPI_KEY_HERE</string>
    <key>AmadeusClientId</key>
    <string>YOUR_AMADEUS_CLIENT_ID_HERE</string>
    <key>AmadeusClientSecret</key>
    <string>YOUR_AMADEUS_CLIENT_SECRET_HERE</string>
</dict>
</plist>
